
 //breakpoints
$msmobile:280px;
$smobile: 320px;
$mobile: 480px; 
$tablet: 768px;
$desktop: 1200px;
 
.container 
     {            
         padding-left: 15px;
         padding-right: 15px;

         
         margin: 0 auto;
          width: 100%;

         margin-left: auto;
         margin-right: auto;

        //  $msmobile
        @media screen and  (min-width: 280px)
        {
          width: 280px;
          //  height:858px;
        }

          //  smobile
          @media screen and  (min-width: 320px)
          {
            width: 320px;
            //  height:858px;
          }
         //  mobile
        @media screen and  (min-width: 480px)
        {
          width: 480px;
          //  height:858px;
        }
        // tablet
        @media screen and  (min-width: 768px)
        {
          width: 768px; 
        }
        // desktop
        @media screen and  (min-width: 1200px)
        {
          width: 1200px; 
        }
      }