   .menu-toggle 
  {
   
    
  //  position: absolute;
  //  bottom: 5px;
     
    //  margin-left: auto;
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
  }
  
  @media (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
  }
  
  .menu-toggle:hover,
  .menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

     display: flex;
     flex-direction: column;

    padding-bottom: 32px;
    background-color: #fff;
//     Effect: Drop shadow
// Radius: 3px
// Offset: 0px, 1px
// rgba(0, 0, 0, 0.16)
// Effect: Drop shadow
// Radius: 4px
// Offset: 0px, 2px
// rgba(0, 0, 0, 0.08)
// Effect: Drop shadow
// Radius: 8px
// Offset: 0px, 4px
// rgba(0, 0, 0, 0.04) 

     z-index: 999;
  
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }
  
  .menu-container.is-open {
    transform: translateX(0);
  }
.menu-container{
  padding-left:  40px;
  padding-top: 48px;
  padding-bottom: 48px;
 
  

}
  
  .menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
  
  }
  // .mobile-socials,
  // .mobile-сontacts,
  .mobile-menu 
  {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 32px;
    list-style: none;
    text-decoration: none;
    margin-bottom: auto ; 
  }
  
  .mobile-menu .link {
    display: flex;
    padding: 10px;
    color: #fff;
    // text-decoration: none;
  }

.mobile-menu-link
{
  font-family: Roboto;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  gap: 32px;
  // text-decoration: none;
  padding-top: 48px;
}
.mobile-сontacts{
  list-style: none;
  text-decoration:none;
 
  padding-bottom: 64px;
}


.mobile-сontacts-tel
{
font-family: Roboto;
font-size: 34px;
line-height: 1.17;
letter-spacing: 0.02em;
color:#2196F3;
text-decoration: none;
margin-bottom: 32px;

}


.mobile-сontacts-post
{
  font-family: Roboto;
 
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
 
  color: #757575;
  text-decoration: none;
}

.mobile-socials-item
{
display: flex;
border: 2px;
border-color: #757575;
}

.mobile-socials-link 
{
font-family: Roboto;
font-size: 18px;
line-height: 1.22;
letter-spacing: 0.02em;
color: 
#2196F3;
text-decoration: none;
}

.mobile-socials{
  display: flex;
  gap: 20px;


  // border: 2px;
  // border-color: #757575;
}

// +++++new+++++++++++++
// menu-toggle {
//   min-height: 40px;
//   min-width: 40px;
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   margin: 0;
//   padding: 0;
//   background-color: transparent;
//   cursor: pointer;
//   border: none;
//   border-radius: 50%;
//   outline: none;
// }

// @media (min-width: 768px) {
//   .menu-toggle {
//     display: none;
//   }
// }



// .mobile-menu {
//   padding: 0;
//   margin: 0;
//   list-style: none;
// }

// .mobile-menu .link {
//   display: block;
//   padding: 10px;
//   color: #fff;
//   text-decoration: none;
// }