.overlay
{
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
 
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
   rgba(47, 48, 58, 0.4)), url(../images/img-hero.jpg);
// mobile screen
@media screen and  (max-width: 479px )
{ 
 background-image: linear-gradient(to right,
   rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heder/imgsm1x-hero.jpg);

//  mobile screen retina
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
background-image: linear-gradient(to right,
rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heder/imgsm2x-hero.jpg);
}
}

  @media screen and  (min-width: $mobile )
  {  
  background-image: linear-gradient(to right,
     rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heder/imgsm1x-hero.jpg);

//  mobile screen retina
@media (min-device-pixel-ratio: 2),
 (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
background-image: linear-gradient(to right,
rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heder/imgsm2x-hero.jpg);
}
}

// tablet screen
 @media screen and  (min-width: $tablet ) {
  background-image: linear-gradient(to right,
  rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heder/imgmg1x-hero.jpg);

// // tablet screen retina
@media (min-device-pixel-ratio: 2),
 (min-resolution: 192dpi),
 (min-resolution: 2dppx) {
background-image: linear-gradient(to right,
 rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heder/imgmg2x-hero.jpg);
 }
}

// // desktop screen
 @media screen and  (mim-width: $desktop ) {
  background-image: linear-gradient(to right,
  rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heder/imglg1x-hero.jpg);
 
 // // desktop screen retina
 @media (min-device-pixel-ratio: 2),
 (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
background-image: linear-gradient(to right,
rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heder/imglg2x-hero.jpg);

}
 }

 }


.solutions-page
 {  
  text-align: center;
  @media screen and  (max-width: 481px)
  {
    padding-top:  118px;
    padding-bottom: 198px;
  }
    @media screen and  (max-width: 1199px)
    {
    padding-top:  118px;
     padding-bottom:198px;
   }
  @media screen and  (min-width: $desktop )
  {
 padding-top:  200px;
 padding-bottom:200px;
//  padding-bottom:280px;
 }
  }
    


 .title-main 
 {  
  font-weight: 900;
  font-family:Roboto, sans-serif ;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 30px;
   letter-spacing: 0.06em;
   color:var(--primary-text-color-theme-dark);
 
   @media screen and  (max-width: $tablet )
  {
  
     text-transform: uppercase;
     font-size: 26px;
     line-height: 1.61;
     max-width: 360px;
   }

   @media screen and  (max-width: 1199px )
   { 
    // padding-right: 15px;
    // padding-left: 15px;
    text-transform: uppercase;
    font-size: 26px;
    line-height: 1.61;
     max-width: 360px;
  
  }
  

  @media screen and  (min-width: $desktop ){
  text-transform: uppercase;
  font-size: 44px;
  line-height: 1.36;
  max-width: 696px;
 

  }
 }  

 .benefits
{
 @media screen and  (max-width: 280px)
 {
  padding-top: 60px;
 padding-bottom: 60px;
 } 
}
 
     
     .do 
  {  
     display: none;
    @media screen and  (min-width: $desktop )
    {
     display: flex;
      text-align: center;
      gap: 30px;
    }
  }
   .do-it
 { 
  padding-top:0;
  @media screen and  (min-width: $desktop )
 {
  // padding-top: 94px;
 padding-bottom: 94px;
 }


   }
   .do-liter 
   { @media screen and  (max-width: 1199px ){
    display: none;
   }
    @media screen and  (min-width: $desktop )
    {
       font-weight:700;
       font-size: 36px;
       line-height:1.16;
       text-align: center;
       letter-spacing: 0.03em;
       margin-bottom: 50px;
         //  gap: 50px;
       color:var(--accent-color) ;
   }   
  }

   .gadget-dop 
   {
    position: relative;
  }
  
  
   .title-design-solutions,
   .title-mobile-applications,
   .title-desktop-applications
   {
    
      position: absolute;
      bottom: 0;
      left: 0;
      height: 70px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Roboto, sans-serif;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      font-weight: 700;
      text-transform: uppercase;
      color: var(--primary-text-color-theme-dark);
      background-color: rgba(47, 48, 58, 0.8);
   
   }
  
  
    
.page__benefits 
{ 
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
 
}

//  .item-page-benefits 
.page__item
 {
  width: 100%;

   @media screen and  (min-width: $tablet ) 
 
  {
   width:calc((100% - 60px) / 2 );
  // flex-basis: 50%;
  }
  @media screen and  (min-width: $desktop ) 
 
  {
   width:calc((100% - 120px) / 4 );
  // flex-basis: 50%;
  }

}


// .title-benefits
.page__title
{
 
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height:1.14;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  // gap: 10px;
  @media screen and  (min-width: $msmobile ) { 
    text-align: center
   }

  @media screen and  (min-width: $smobile ) { 
    text-align: center
   }
  
  @media screen and  (min-width: $mobile ) { 
  text-align: center
 }
 @media screen and  (min-width: $tablet ) { 
  text-align:start;
 }
 @media screen and  (min-width: $desktop ) {
  text-align:start;
 }
}
// .note-benefits
 .page__note
 {  
  font-weight: 400;
  font-size: 14px;
  line-height:1.7;
  color:var(--secondary-text-color-theme-light); 
  // margin-bottom: 30px;
}
//  .benefits-list-icon
.page__list__icon
  {
   width: 65.32px;
   height: 70px;
  fill: var(--accent-color);
}

// .benefits-icon
.page__icon
 {
 display: flex;
align-items: center;
 justify-content: center;
 //  width: 270px;
 height: 120px;
background-color: var(--secondary-background-color-theme-light);    
 margin-bottom: 30px;
//  gap: 30px;
}



  .team
 {  
   display: flex;
  // text-align: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom:30px;
  
 }
  .team-section 
{
  background: var(--secondary-background-color-theme-light);
   @media screen and  (max-width: 280px) {
    padding-top: 60px;
    padding-bottom: 60px;
   }

}


  .team-liter 
{   
    font-weight: 700;
    font-size: 36px;
    line-height:1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
      //  gap: 50px;
    color:var(--accent-color) ;
    @media screen and  (min-width: $msmobile ) { 
      font-size: 28px;
      line-height:1.17;
      margin-bottom: 30px;
    }
    @media screen and  (min-width: $smobile ) { 
      font-size: 28px;
      line-height:1.17;
      margin-bottom: 30px;
    }
    @media screen and  (min-width: $mobile ) {
      font-size: 28px;
      line-height:1.17;
      margin-bottom: 30px;
    }
   @media screen and  (min-width: $tablet ) {
    font-size: 28px;
    line-height:1.17;
    margin-bottom: 30px;
}    
@media screen and  (min-width: $desktop ) {
  margin-bottom: 50px;
  font-size: 36px;

}
}
.team-name
{ 
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18; 
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 10px;
  color:var(--accent-color);  
  background:var(--primary-text-color-theme-dark);
}
    
.team-speciality
{   
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    color:var(--secondary-text-color-theme-light);
}



.item-team
{
  // @media screen and  (min-width: $mobile ) 
 
  // { 
  //  width:calc((100% - 30px) / 1 );
  //  // flex-basis: 50%;
    
  // }
  @media screen and  (min-width: $tablet ) 
 
  {
    

   width:calc((100% - 60px ) / 2 );
   // flex-basis: 50%;
   
  }
  @media screen and  (min-width: $desktop ) 
 
  {
    

   width:calc((100% - 90px ) / 4 );
   // flex-basis: 50%;
   
  }

  background: var(--primary-text-color-theme-dark);
}
 

.box 
 {
 border-bottom:1px solid var(--secondary-color-border); 
}

// .card-img-wrapper
// {
// position:relative;
// overflow: hidden;
// }

// .card-img-text
// {
// position: absolute;
// top: 0;
// left:0;
// width: 100%;
// height: 100%;
// background-color:rgba(33, 150, 243, 0.9);
// color:var(--primary-text-color-theme-dark);
// overflow-y: auto;
// font-weight: 400;
// font-size: 18px;
// line-height: 1.55;
// letter-spacing: 0.03em;
// transform: translateY(100%);
// transition:transform 250ms linear, 
// opacity var(--transition-dur-and-func);
// padding: 63px 24px;
// overflow: hidden;
// opacity: 0;

// }


// .flex-element
// { 
// display: block;
// text-decoration: none;
// width: 370px;
// transition: color var(--transition-dur-and-func);
// }

// .flex-element:focus,
// .flex-element:hover
// {
// box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
// 1px 4px 6px rgba(0, 0, 0, 0.16);
// }


// .flex-element:focus .card-img-text,
// .flex-element:hover .card-img-text
// {
// transform: translateY(0%);
// opacity:1;
// }
//   .flex-container 
//  { 
//    display: flex; 
//    flex-wrap:wrap;
//    align-content: center;    
//    gap: 30px;
//    padding-left: 0px;
//    padding-right: 0px;
//  }  

//  .currentColor
// {
//   color:var(--primary-text-color-theme-light);
//  &.filter-list.Усі:hover
// {
//  background-color:var(--secondary-background-btn-color-theme-light);
//  }
//  }



//  .img-list
//  {
//  width: 370px;
// }


// .card-name
// {
// font-weight: 700;
// font-size: 18px;
// line-height: 2;
// letter-spacing: 0.06em;
// color:var(--accent-color);
// margin-top: 0px ;
// margin-bottom: 4px;
// }

// .card-speciality
// {
// font-weight: 400;
// font-size: 16px;
// line-height: 1.87;
// letter-spacing: 0.03em;
// color:var(--secondary-text-color-theme-light);
// margin-top: 4px ;
// }

// .port-card-bottom 
// {
// padding-top:20px;
// padding-bottom: 20px;
// padding-left: 24px;
// padding-right: 24px;
// background:var(--primary-text-color-theme-dark);
// border: 1px solid var(--primary-color-border);
// border-top: none;
// }



.card-bottom
{
padding: 30px;
background-color:var(--primary-text-color-theme-dark);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px; 
}

// .a
// {
//   text-decoration: none;
// }


.social-list
{
 display: flex; 
justify-content: center;
column-gap:10px;
margin-bottom:10px; 
}
.social-list-link
{
display:flex;
align-items: center;
justify-content: center;
width: 44px;
height: 44px;
border-radius:50px;
background-color: var(--primary-text-color-theme-dark);
transition: background-color var(--transition-dur-and-func);
&:hover,
&:focus
{
background-color:var(--primary-text-color-theme-light);
transition:
background-color var(--transition-dur-and-func);
}
}



 .social-list-link:hover .social-list-icon,
 .social-list-link:focus .social-list-icon
 {
 transition: fill var(--transition-dur-and-func);
 fill:var(--primary-text-color-theme-dark);
 }

.social-list-icon
 {
width: 20px;
height: 20px;
fill:var(--secondary-background-fill);
}

.social-list-icon:hover,
.social-list-icon:focus 
{
 transition: fill var(--transition-dur-and-func);
  fill:var(--primary-text-color-theme-dark);  
 }

.customers
{
 @media screen and  (max-width: 280px)  {
  padding-top: 60px;
  padding-bottom: 60px;
} 
}

 .customers-list 
{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;

  }


 .customers-list-item
{ 
  justify-content: center;
  column-gap: 30px;
  height: 92px;
  //  width: 210px;
  @media screen and  (min-width: $smobile ) 
 
  { 
   width:calc((100% - 60px) / 2 );
   // flex-basis: 50%;
    
  }
 
  @media screen and  (min-width: $mobile ) 
 
  { 
   width:calc((100% - 60px) / 2 );
   // flex-basis: 50%;
    
  }
  @media screen and  (min-width: $tablet ) 
 
  {
    

   width:calc((100% - 90px ) / 3 );
   // flex-basis: 50%;
   
  }
  @media screen and  (min-width: $desktop ) 
 
  {
    

   width:calc((100% - 150px ) / 6);
   // flex-basis: 50%;
   
  }

    
  }
 
 
.customers-list-link
 {
  display:flex;
 align-items:center;
 justify-content: center;
 

 border: 1px solid var(--secondary-background-fill);
 border-radius: 4px;
 width: 100%;
 height: 100%;
 fill:var(--secondary-background-fill);

 transition: fill var(--transition-dur-and-func);
 transition:border(--transition-dur-and-func); 
 &:hover,
 &:focus
 {
 fill:var(--primary-text-color-theme-light);
 border-color:var(--primary-text-color-theme-light);
 }
 } 

 .customers-list-icon
 {
 width: 106px;
 height: 60px;
 &:focus,
 &:hover 
 {
 fill:var(--primary-text-color-theme-light);
 }
 }











.social-list-link:hover.social-list-icon
 {
  transition: fill var(--transition-dur-and-func);
  fill:var(--primary-text-color-theme-dark);
  
 }

 .body{

  @media screen and  (min-width: $desktop ) 
 
  { 

  overflow-x: hidden;
 }
}